.linkbutton {
    position: fixed;
    top: 20px;
    right: 20;
    padding: 10px 15px;
    background-color: #ffce62;
    border-style: none;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    min-width: 120px;
    cursor: pointer;
    outline: none;
}
    
.linkbutton:hover {
    background-image: linear-gradient(#ffce62,#f3c258,#e7b750);
}