.orderlist {
    width: 80%;
    margin: 20px auto;
    padding: 0;
    border: 1px solid #cecece;
    border-radius: 5px;
}

.orderlist__title {
    flex: 2;
}

.orderlist__header {
    border-bottom: 1px solid #cecece;
    background-color: #ffeaba;
    padding: 15px;
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

.orderlist--empty {
    margin: auto;
    text-align: center;
    padding: 30px 0;
}