.orderlist {
    width: 80%;
    margin: 20px auto;
    padding: 0;
    border: 1px solid #cecece;
    border-radius: 5px;
}

.orderlist__title {
    flex: 2;
}

.orderlist__item {
    border-bottom: 1px solid #cecece;
    padding: 15px;
    display: flex;
    align-items: center;
}

.orderlist__item:last-child {
    border-bottom: none;
}

.orderlist__item__title {
    flex: 2;
}

.orderlist__header {
    border-bottom: 1px solid #cecece;
    padding: 15px;
    display: flex;
}

.orderlist--empty {
    margin: auto;
    text-align: center;
    padding: 30px 0;
}