.inputwrapper {
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: #f1e5cc;
    border-radius: 5px;
    -webkit-appearance: none;
    margin: 5px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputwrapper > input {
    opacity: 0;
    width: 0;
    margin: 0;
}

.inputwrapper:hover {
    background-image: linear-gradient(#f1e5cc, #ecddbd, #e9d7b1);
}

.selected {
    background-color: #ffdb8a;
}

.selected:hover {
    background-image: linear-gradient(#ffdb8a, #f5d281, #f1d080);
}
