.header {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.header__title {
    flex: 2;
    text-align: center;
}

.header__action {
    flex: 1;
    text-align: right;
}

.header__spacer {
    flex: 1;
}